.Card {
  border: 1px solid #b8b8b8;
  border-radius: 8px;
  overflow: hidden;
}

.Header {
  font-size: 8px;
  font-weight: 400;
  padding: 4px 8px;
  text-align: right;
}

.Media {
  height: 72px;
}

.Media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Content {
  background-color: #b8b8b8;
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  padding: 4px 8px;
  height: 100%;
}
