.logo {
  font: var(--f-logo);
  color: var(--c-text-highlight);
  margin: 0;
}

.logo a {
  border: none;
  display: flex;
  align-items: center;
}

.logo svg {
  fill: var(--c-text);
  height: 48px;
  width: 48px;
  padding-right: var(--s-m);
}
